@media screen and (min-width: 950px) {
  header .header_top {
    width: 925px;
  }

  header .menu {
    width: 925px;
  }

  header nav ul li {
    width: 120px;
  }

  header nav ul li a{
    padding: 10px;
  }
}

@media screen and (max-width: 950px) {
  header .header_top {
    width: 700px;
  }

  header .menu {
    width: 700px;
  }

  header nav ul li {
    width: 87px;
    font-size: 14px;
  }

  header nav ul li a{
    padding: 0px;
  }
}

header {
  width: 100%;
  height: 92px;
  border: 1px solid #00000000;
  background-color: rgba(0,0,0,0.5);
  top: 0px;
  left: 0px;
  z-index: 5;
  position: absolute;
}

header a {
  text-decoration: none;
  color: white;
}

header .header_top {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

header p {
  display: table-cell;
  color: white;
  border: 1px solid white;
}

header .map_menu {
  display: table-cell;
  text-align: right;
}

header .map_menu ul {
  float: right;
  list-style: none;
  padding-left: 0px;
}

header .map_menu ul li {
  float: left;
  padding-left: 0px;
  padding-right: 10px;
}

header .map_menu ul li a {
  font-size: 12px;
}

header .map_menu ul li a::before {
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: "\f0da"
}

header .map_menu ul li a:hover {
  color: skyblue;
}

header .menu {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header nav ul {
  display: block;
  text-align: center;
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

header nav ul li {
  text-align: center;
  line-height: 20px;
  float: left;
  padding: 5px;
  margin: 1px;
  position: relative;
}

header nav ul li a{
  position: relative;
}

/* pull left right */
header nav ul li::before, header nav ul li::after {
  position: absolute;
  top: 0px;
  opacity: 0.3;
  height: 100%;
  width: 2px;
  content: '';
  background: #FFFFFF;
  transition: all 0.5s;
}

header nav ul li::before {
  left: 0px;
}

header nav ul li::after {
  right: 0px;
}

header nav ul li:hover::before, header nav ul li:hover::after {
  width: 100%;
  opacity: 0.15;
}

/* end pull left right */
