@media screen and (min-width: 950px) {
  header .header_top {
    width: 925px;
  }

  header .menu {
    width: 925px;
  }

  header nav .main_menu_content {
    width: 120px;
    font-size: 16px;
  }

  header nav .main_menu_content p {
    font-size: 14px;
  }

  header nav .main_menu_content a{
    padding: 0px;
  }
}

@media screen and (max-width: 950px) {
  header .header_top {
    width: 700px;
  }

  header .menu {
    width: 700px;
  }

  header nav .main_menu_content {
    width: 87px;
    font-size: 14px;
  }

  header nav .main_menu_content p {
    font-size: 12px;
  }

  header nav .main_menu_content a{
    padding: 0px;
  }
}

header {
  width: 100%;
  height: 106px;
  border: 1px solid #00000000;
  background-color: rgba(0,0,0,0.5);
  top: 0px;
  left: 0px;
  z-index: 5;
  position: absolute;
}

header a {
  text-decoration: none;
  color: white;
}

header .header_top {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

header p.logo {
  display: table-cell;
  color: white;
  border: 1px solid white;
}

header .map_menu {
  display: table-cell;
  text-align: right;
}

header .map_menu ul {
  float: right;
  list-style: none;
  padding-left: 0px;
}

header .map_menu ul li {
  float: left;
  padding-left: 0px;
  padding-right: 10px;
}

header .map_menu ul li a {
  font-size: 12px;
}

header .map_menu ul li a::before {
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: "\f0da"
}

header .map_menu ul li a:hover {
  color: skyblue;
}

header .menu {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header nav .main_menu {
  display: block;
  text-align: center;
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

header nav .main_menu_content {
  position: relative;
  text-align: center;
  line-height: 20px;
  float: left;
  padding: 5px;
  margin: 1px;
}

header nav .main_menu_content p {
  font-family: serif;
  height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

header nav .main_menu_content a{
  position: relative;
  display: flex;
  justify-content: center;
}

header nav .main_menu_content .eng_menu_content {
  color: skyblue;
  font-size: 12px;
  top: -6px;
}

/* pull left right */
header nav .main_menu_content::before, header nav .main_menu_content::after {
  position: absolute;
  top: 0px;
  opacity: 0.3;
  height: 40px;
  width: 2px;
  content: '';
  background: #FFFFFF;
  transition: all 0.5s;
}

header nav .main_menu_content::before {
  left: 0px;
}

header nav .main_menu_content::after {
  right: 0px;
}

header nav .main_menu_content:hover::before, header nav .main_menu_content:hover::after {
  width: 100%;
  opacity: 0.15;
}

/* end pull left right */

header nav .sub_menu {
  position: absolute;
  left: 0px;
  width: 100%;
  list-style: none;
  padding-left: 0px;
  padding-top: 10px;
  margin-left: 0px;
}

header nav .sub_menu li {
  padding-top: 10px;
  border: 1px solid black;
  background: gray;
}

header nav .sub_menu, header nav .sub_menu li {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s ease;
}

header nav .main_menu_content:hover .sub_menu, header nav .main_menu_content:hover .sub_menu li {
  max-height: 10vh;
  overflow: visible;
}
